<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <style>
            body {
                background-color: #2e4053;
            }
            span {
                color: #eaecee;
            }
            h1 {
                color:  #eaecee;
            }
            td {
                color: #eaecee;
            }
        </style>            
        {% block head %}
            <title>No title</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>There is no content</h1>
        {% endblock %}
    </body>
</html>